*
    box-sizing: border-box
html
    font-size: 10px

body
    margin: 0
    padding: 0
    font-family: 'Merriweather', sans-serif
    color: #333333
    font-size: 1rem

h1, h2, h3, p
    margin: 0

a
    text-decoration: none
    color: #333333

ul
    margin: 0
    padding: 0
li
    list-style-type: none;

.menu-btn
    display: none
    width: 50px
    height: 29px
    position: fixed
    right: 0
    margin-left: -25px
    z-index: 50
    cursor: pointer

    & span,
    & span::after,
    & span::before
        position: absolute
        top: 50%
        margin-top: -1px
        left: 50%
        margin-left: -10px
        width: 20px
        height: 2px
        background-color: #222

    & span::after,
    & span::before
        content: ""
        display: block
        transition: 0.2s

    & span::before
        transform: translateY(-5px)

    & span::after
        transform: translateY(5px)

    &_active span
        height: 0

    &_active span:before
        transform: rotate(45deg)

    &_active span:after
        transform: rotate(-45deg)


.header
    position: fixed
    top: 0
    left: 0
    right: 0
    width: 100%
    z-index: 99;
    transition: all 0.3s
    &__wrap
        display: flex
        align-items: center
        justify-content: space-between
        padding: 5px 15px

    &__phone a
        padding-left: 30px
        position: relative
        font-size: 1.6rem
        line-height: 2
        color: #fff
        &::before
            content: ''
            position: absolute
            background: url('../images/phone-light.svg') no-repeat center center
            left: 0
            top: 50%
            transform: translateY(-50%)
            width: 20px
            height: 20px

    &__mail a
        padding-left: 30px
        position: relative
        font-size: 1.6rem
        line-height: 2
        color: #fff
        &::before
            content: ''
            position: absolute
            background: url('../images/mail-light.svg') no-repeat center center
            left: 0
            top: 50%
            transform: translateY(-50%)
            width: 20px
            height: 20px
    &__mobile
        max-width: 350px
        width: 100%
        height: 100vh
        padding: 20px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-around
        position: fixed
        top: 0
        right: 0
        background-color: #fff
        transform: translateX(105%);
        transition: all 0.5s

        &--active
            transform: translateX(0);


.header-block
    width: 75%
    display: flex
    align-items: center
    justify-content: space-between


.header-logo
    z-index: 50
    & img
        width: 11rem
        margin-right: 9.8rem;


.header-nav
    display: flex
    max-width: 32rem
    width: 100%
    align-items: center
    justify-content: space-around
    font-size: 1.6rem
    text-transform: uppercase
    font-weight: 700
    &__item--second a
        color: #fff

.main
    width: 100%
    height: 100vh
    background: url('../img/bg-3.jpg') no-repeat center center/cover
    &__block
        display: flex
        align-items: center
        justify-content: center
        width: 50%
        height: 100vh
        background-color: #fff
        padding: 0 15px


    &__title
        font-size: 7rem
        font-weight: 400
        margin-bottom: 3rem
    &__subtitle
        font-family: 'Montserat', sans-serif
        font-size: 2rem
        font-weight: 400
        line-height: 1.55
        margin-bottom: 2rem
.button
    position: relative
    background-color: transparent
    border: none
    width: 170px
    height: 50px
    cursor: pointer
    outline: none
    & span
        font-family: 'Montserat', sans-serif
        font-size: 1.5rem
        font-weight: 600
        &:after,
        &:before
            border: 2px solid #000000
            content: ''
            position: absolute
            border-radius: inherit
            width: calc( 100% - 6px )
            height: calc( 100% - 6px )
            left: 0
            bottom: 0
            z-index: 1
            transition: all 0.3s ease


        &:hover::after
            transform: translate(-5px, -5px)
        &:hover::before
            transform: translate(5px, 5px)

.works


    &__block
        width: 50%
        display: flex
        align-items: center
        justify-content: center

        &--title
            max-width: 500px
            width: 100%
            padding: 0px 15px
        & a
            width: 100%
            height: 100%
            position: relative
            &:before
                content: ''
                position: absolute
                top: 0
                left: 0
                right: 0
                bottom: 0

                transition: all 0.5s
                opacity: 0
                background: #686868a6 url('../images/resize.svg') no-repeat center center/15%
            &:hover::before
                opacity: 1

            & img
                width: 100%
                height: 100%
                object-fit: cover


    &__title
        font-size: 5rem
        text-transform: uppercase
        margin-bottom: 2rem

    &__description
        font-size: 2rem
        font-weight: 400
        font-family: 'Montserat', sans-serif
        margin-bottom: 3rem



.works-kitchen
    display: flex
    height: 49rem
.works-bathroom
    display: flex
    height: 49rem
    transform: tra
.works-floor
    display: flex
    height: 49rem
.press
    font-size: 2rem
    font-weight: 600
    font-family: 'Montserat', sans-serif
.arrow
    font-size: 2rem
    font-weight: 600
    &-down
        display: none

.header-active .header__phone a
    color: #333
    &::before
        background: url('../images/phone.svg') no-repeat center center

.header-active .header__mail a
    color: #333
    &::before
        background: url('../images/mail.svg') no-repeat center center

.modal
    opacity: 0
    visibility: hidden
    position: fixed
    z-index: 1002
    left: 0
    top: 0
    bottom: 0
    right: 0
    width: 100%
    height: 100%
    background-color: #0000009f
    display: flex
    align-items: center
    justify-content: center
    transition: visibility 0.4s, opacity 0.4s
    &--visible
        opacity: 1
        visibility: visible
    &__dialog
        position: relative
        max-width: 340px
        width: 100%
        padding: 3.857rem 1rem
        background-color: #fff

    &__close
        position: absolute
        right: 0
        top: 0
        border: none
        width: 28px
        height: 28px
        background: transparent url('../img/exit.svg') no-repeat center
        margin: 11px
        margin-right: 13px
        cursor: pointer

    &__title
        font-size: 19px
        font-weight: 700
        max-width: 40.7rem
        margin: auto
        line-height: 28px
        margin-bottom: 21px
        text-align: center
    &__form
        max-width: 285px
        width: 100%
        margin: auto
        text-align: center
    &__input
        width: 100%
        height: 49px
        padding: 10px
        margin-bottom: 24px
        border: 2px solid #333
        font-size: 16px
        font-weight: 400
        font-family: 'Montserat', sans-serif

        &-group
            display: flex
            flex-direction: column

.thanks
    opacity: 0
    visibility: hidden
    position: fixed
    z-index: 1002
    left: 0
    top: 0
    bottom: 0
    right: 0
    width: 100%
    height: 100%
    background-color: rgba(#000, 0.6)
    display: flex
    align-items: center
    justify-content: center
    transition: visibility 0.4s, opacity 0.4s
    &--visible
        opacity: 1
        visibility: visible
    &__block
        width: 100%
        max-width: 345px
        min-height: 345px
        padding: 14.2px
        background: #fff
        text-align: center
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center
        border-radius: 5px
    &__title
        font-size: 26px
        text-transform: uppercase
        margin: 0
    &__subtitle
        font-size: 18px
        line-height: 27px
        font-weight: 400
        font-family: 'Montserat', sans-serif






div
    &.invalid
        color: tomato
        margin-top: 2px
        position: absolute
        left: 0
        bottom: 7px
        font-size: 1.2rem
input
    &.invalid
        border: 1px solid tomato
.input
    &-group
        position: relative


.calc
    padding: 10rem 1.5rem
    text-align: center
    &__title
        font-size: 5rem
        text-transform: uppercase
        margin-bottom: 1.5rem
    &__description
        font-size: 2rem
        font-weight: 400
        font-family: 'Montserat', sans-serif
        margin-bottom: 3rem
    &__block
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        max-width: 75rem
        margin: auto
        margin-bottom: 4rem
    &__total
        flex-basis: 100%
        display: flex
        align-items: center
        justify-content: space-between
        margin-top: 3rem
        font-size: 20px
        font-weight: 400
        font-family: 'Montserat', sans-serif
        border-bottom: 1px solid #333
#calc
    max-width: 33rem
    width: 100%
    border: 1px solid #333
    cursor: pointer
    font-size: 18px
    line-height: 24px
    padding: 8px
    &::placeholder
        font-family: 'Merriweather', sans-serif




.select

    position: relative
    max-width: 33rem
    width: 100%


.select.is-active .select__body
    display: block


.select__header
    border: 1px solid #333
    cursor: pointer
    display: flex
    font-size: 18px
    line-height: 24px
    padding: 8px



.select__body
    max-height: 250px
    border: 1px solid #333

    display: none
    left: 0
    position: absolute
    right: 0
    top: 86%
    z-index: 20
    background-color: #fff
    overflow-y: scroll


.select__item
    cursor: pointer
    font-size: 16px
    line-height: 24px
    padding: 8px
    text-align-last: left
    &:hover
        background-color: #33333344

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
    -webkit-appearance: none
    -moz-appearance: textfield
    margin: 0



.calc__total span,
.total
    font-weight: 600
.footer
    background: #333
    display: flex
    align-items: center
    justify-content: center
    padding: 5px 15px;
.footer-logo img
    width: 11rem

@media screen and ( max-width: 991px )
    html
        font-size: 8px

@media screen and ( max-width: 768px )
    .menu-btn
        display: block

    .main
        position: relative
        &::before

            content: ''
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            background: #00000093

        &__block
            position: relative
            width: 100%
            background: transparent
            color: #fff

    .main__block--title .button
        & span
            color: #fff
            &::before,
            &::after
                border-color: #fff
    .header
        background-color: #fff
        &-nav
            flex-direction: column
            &__item--second a
                color: #333
            & li
                padding: 20px 0
                font-size: 20px
        &__mail a
            color: #333
            font-size: 18px
            &::before

                background: url("../images/mail.svg") no-repeat center center
        &__phone a
            color: #333
            font-size: 18px
            &::before
                background: url("../images/phone.svg") no-repeat center center

@media screen and ( max-width: 575px )
    .header
        &__mobile
            max-width: 100%
    .works
        &__block
            width: 100%
            &--title
                padding: 30px 15px
        &-kitchen
            flex-direction: column
            height: auto
            & .works__block--image
                order: 1
                height: 300px
        &-floor
            flex-direction: column
            height: auto
            & .works__block--image
                order: 1
                height: 300px
        &-bathroom
            flex-direction: column
            height: auto
            & .works__block--image
                height: 300px
    .arrow
        &-another
            display: none
        &-down
            display: inline
    .calc
        &__block
            flex-direction: column
    #calc
        max-width: 100%
    .select
        max-width: 100%
        margin-bottom: 2rem




@media screen and ( max-width: 375px )
    .main
        &__title
            font-size: 6rem
    .works__title,
    .calc__title
        font-size: 4.5rem
